<div>
  <button (click)="goBackToList()">Back on pokemon list</button>
</div>

<div class="details-wrapper">
  <h2>Details for: {{ pokemonDetails.name | titlecase }}</h2>
  <h4>Size :</h4>
  <ul>
    <li><strong>Height :</strong> {{ pokemonDetails.height }} meters</li>
    <li><strong>Weight : </strong> {{ pokemonDetails.weight }} kg</li>
  </ul>
  <h4>Base stats :</h4>
  <ul>
    <li *ngFor="let stat of pokemonDetails.stats">
      <strong>{{ stat.stat.name | titlecase }}:</strong> {{ stat.base_stat }}
    </li>
  </ul>
  <h3>List of moves</h3>
  <ul class="grid-list">
    <li *ngFor="let moveData of pokemonDetails.moves">
      {{ moveData.move.name | titlecase }}
    </li>
  </ul>
</div>
