<button type="button" class="btn btn-primary" (click)="togglePokemonList()">
  Show Pokemon List
</button>
<button type="button" class="btn btn-secondary" (click)="showCatchList()">
  Show catch list
</button>
<button type="button" class="btn btn-warning" (click)="clearCatchList()">
  Clear catch list
</button>
<pagination
  class="pagination"
  (pageChanged)="pageChange($event)"
  [totalItems]="pokemonList.count"
  [maxSize]="5"
></pagination>

<div *ngIf="isShowCatchList; else showPokemonList">
  <div class="poke-list catch-list" *ngIf="$catchList | async as catchList">
    <div *ngFor="let pokemon of catchList; trackBy: trackByName">
      <app-poke-tile
        class="catch-list-tiles"
        [pokemon]="pokemon"
      ></app-poke-tile>
    </div>
  </div>
</div>
<ng-template #showPokemonList>
  <div *ngIf="$pokemonList | async as pokemonList" class="poke-list pokemons">
    <div *ngFor="let pokemon of pokemonList; trackBy: trackByName">
      <app-poke-tile class="pokemon-tiles" [pokemon]="pokemon"></app-poke-tile>
    </div>
  </div>
</ng-template>
